// Place all the styles related to the Api::Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-photo {
  width: 200px;
  margin: 20px;
}

.album-create {

}

.create-album {
  float: right;
}
div.album-create-content {
  margin: 50px 0 0 0;
  height: 100%;
  // width: 100%;
  display: flex;
}

.album-preview-photo {
  border: 1px solid lightgray;
  width: 125px;
  height: 125px;
  margin: 0 0 32px 0;
  border-radius: 10px;
}

.album-preview {
  width: 100px;
  height: 100px;
  margin: 12px 0 0 12px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.album-form {
  width: 300px;
  margin: 28px 0 106px 33px;
  display: flex;
  flex-direction: column;
}

.album-title {
  border: 1px inset #e9e9ae;
  font-size: 28px;
  border-radius: 5px;
  background-color: #ffffd3;
}

.album-description {
  margin: 18px 0 0 0;
  border: 1px inset #e9e9ae;
  height: 700px;
  background-color: #ffffd3;
}

.album-no-save {
  font-size: 14px;
  font-weight: 700;
  color: rgb(189, 186, 186);
  background-color: rgb(228, 228, 228);
  padding: 5px 10px;
  margin: 11px 0 0 3px;
  border-radius: 5px;
}

.album-save {
  font-size: 14px;
  font-weight: 700;
  background-color: #0063dc;
  color: white;
  padding: 5px 10px;
  margin: 11px 0 0 3px;
  border-radius: 5px;
}

.album-cancel {
  background-color: #ddd;
  color: #666;
  margin: 11px 0 0 6px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
}

.album-container {
  background-color: #f0f0f0;
  margin: 36px 0 0 30px;
  border: 1px inset #f3f5f6;
  height: 1000px;
  width: 1300px;
}

.album-photos {
  overflow: none;
  display: flex;
  width: 1200px;
  height: 900px;
  margin: 16px 0 0 18px;
  flex-wrap: wrap;
  overflow: auto;
}
.album-photos > * {
  flex: 1 1 160px;
}
.album-btns {
  display: flex;
}

.album-photo-selected {
  border: 3px solid rgb(82, 250, 228);
  width: 200px;
  height: 180px;
}

.album-photo-not {

}

.album-show {
  height: 100%;
  // width: 100%;
}

.album-cover {
  display: flex;
  background: lightgray;
  opacity: 0.5;
  margin: 50px 0 0 0;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  // width: 100%;
}

.album-cover > h1 {
  font-size: 50px;
  text-align: center;
}

.album-cover > h2 {
  font-size: 30px;
  text-align: center;
}
.album-contain {
  height: 100%;
  // width: 100%;
}

.album-divs,
.album-index-content {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;

  &::after {
    content: '';
    flex-grow: 999999999;
  }
}

.album-item {
  width: 400px;
  height: 300px;
}

.album-image {
  width: 300px;
  height: 200px;
}

.album-title2 {
  font-size: 22px;
}

.album-content {
  margin: 50px 0 0 0;
}

.album-index-content {
  justify-content: center;
}

.edit-album {
  width: 900px;
  display: flex;
  cursor: pointer;
  font-size: 30px;
  justify-content: flex-end;
  position: relative;
  top: 125px;
  left: 1000px;
}