.modal-background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // margin: 0 auto;
  width: 100%;
  height: 100%;

  overflow: auto;
  background: rgb(255, 255, 255);
}

.modal-child {
}

.creds {
  color: #198fff;
  font-weight: 400;
}

.creds:hover {
  color: darkblue;
  font-weight: 400;
}

.cred-sign-link {
  margin: 0 auto;
  text-align: center;
  color: #26282a;
  font-size: 18px;
  padding: 20px 0;
}

.cred-sign {
  margin: 0 auto;
  text-align: center;
  color: #26282a;
  font-size: 18px;
}

.content-show {
}

.invis-button {
  display: block;
  background-color: #198fff;
  padding: 10px 25px;
  border-radius: 4px;
  color: white;
}

.invis-button:hover {
  background-color: #43a3fc;
}