.photo-div ul {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    &::after {
        content: '';
        flex-grow: 999999999;
    }       
}

.photo-div {
    margin: 0 138px;
    padding: 106px 90px;
    background-color: rgb(242, 245, 246);
}

.cover {
    background: url(/assets/great_wall-c072fe9fbd3c32b4e596097e4dcdc84deb7d4a29acc9c4f3292b9c3a2c5f982e.jpg) no-repeat center bottom fixed;
    height: 276px;
    position: relative;
    top: 50px;
    z-index: -1;
}

.photo-cover {
}


.fullName, .displayname {
}

.fullName {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.displayname {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.pic-container {
    background: #212124;
    display: flex;
    max-height: 650px;
    /* max-width: 1280px; */
}

.superfun-image {
    background-size: cover;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 900px;
    max-height: 500px;
    display: block;
}

.back {
    display: inline;
    color: white;
}

div.pads {
    padding: 63px 28px;
}

.center-content {
    padding: 10px 440px;
    background-color: #f3f5f6;
}

.user-info {
    width: 600px;
    display: flex;
}

.description-para:hover {
    background-color: lightgray;
}

.center {
    margin-left: auto;
    margin-right: auto;
}