.photo-div ul {
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    &::after {
        content: '';
        flex-grow: 999999999;
    }       
}

.photo-div {
    margin: 0 138px;
    padding: 106px 90px;
    background-color: rgb(242, 245, 246);
}

.cover {
    background: url(/assets/great_wall-c072fe9fbd3c32b4e596097e4dcdc84deb7d4a29acc9c4f3292b9c3a2c5f982e.jpg) no-repeat center bottom fixed;
    background-size: 100%;
    height: 276px;
    position: relative;
    top: 50px;
    z-index: -1;
}

.photo-cover {
}


.fullName, .displayname {
}

.fullName {
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
    left: 115px;
    top: 25px;
}

.displayname {
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    position: relative;
    top: 20px;
    left: 115px;
}

.pic-container {
    background: #212124;
    display: flex;
    max-height: 800px;
    margin: 50px 0 0 0;
    flex-direction: column;
    /* max-width: 1280px; */
}

.superfun-image {
    background-size: cover;
    margin: 0 auto;
    width: 800px;
    height: auto;
    max-width: 1000px;
    max-height: 1000px;
    display: block;
}

.back {
    display: inline;
    color: white;
}

div.pads {
    padding: 63px 28px;
}

.center-content {
    padding: 10px 440px;
    background-color: #f3f5f6;
}

.user-info {
    width: 600px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.description-para:hover {
    background-color: lightgray;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.description-para {
    position: relative;
    width: 400px;
    height: 50px;
    top: 18px;
    left: -60px;
}

.user-info > h1 {
   position: relative;
   left: 21px;
}