
// .left-nav {
//   background: #212124;
//   color: white;
//   font-family: Proxima Nova, helvetica nueue, helvetica, arial, sans-serif;
//   height: 50px;
//   font-size: 17px;
//   justify-items: baseline;
//   align-items: center;
//   display: flex;
//   justify-content: space-around;
// }

// .left {
//   display: flex;
//   width: 592px;
//   justify-content: space-around;
// }
.color1 {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .90);
  height: 50px;
  padding: 0 24px;
  z-index: 2;
}

.color2 {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .50);
  height: 50px;
  padding: 0 24px;
  z-index: 1;
}
.right {
  display: flex;
  align-items: center;
  z-index: 1;
}

.sub-nav {
  display: flex;
  background: white;
  color: black;
  height: 50px;
  border-bottom: 1px solid #ccc;
  justify-items: end;
  align-items: center;
  top: 50px;
}

.main-logo {
  font-size: 21px;
  font-weight: 700;
  margin-right: 40px;
  width: 200px;
  color: white;
}
.personal {
  display: flex;

}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.splitright {
  width: 500px;
  justify-content: space-between;
  
}
.userProf {
  width: 50px;
  color: white;
  padding: 6px 6px;
}
.main-search {
  background: #ccc;
  width: 184px;
  border-radius: 3px;
  color: black;
  height: 34px;
}

.you, .explore {
  padding: 5px;
}
.cloud {
  font-size: 32px;
  color:  white;
}

.main-logo:hover, .you:hover, .explore:hover, .cloud:hover {
  color: #ccc;
}

.activity {
  padding: 16px 20px;
  margin: 0 217px;
  width: 100px;
  text-align: center;
}
.explore1 {

}
.you-drop {
  display: none;
}

.active {
  border-bottom: 4px solid #198fff;
}

.profile-nav {
  background: white;
  color: black;
  height: 50px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

#about:hover, #photostream:hover, #albums:hover, #faves:hover {
  cursor: pointer;
  border-bottom: 4px solid #198fff;
}

#about {
  margin: 0 0 0 218px;
}